/*@import './base.css';*/

:root {
  margin: 0;
  padding: 0;
  /* Theme por defecto */
  --color-bg: #fbfbfb;
  --color-text: #252628;
  --color-text-light: #fcfdfc;
  --color-primary: #476893;
  --color-secundary: #e0e8ef;
}

[data-theme="dark"] {
  --color-bg: #111111;
  --color-text: #f1f1f1;
  --color-primary: #4ea1ff;
}

[data-theme="retro"] {
  --color-bg: #f4ecd8;
  --color-text: #513c2c;
  --color-primary: #c97c5d;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-bg);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    overflow-x: hidden;
  }

  #app {
    display: flex;
    place-items: center;
    padding: 0;
  }
}
