/*@import './base.css';*/

:root {
  /* Theme por defecto */
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-primary: #2a7ae4;
}

[data-theme="dark"] {
  --color-bg: #111111;
  --color-text: #f1f1f1;
  --color-primary: #4ea1ff;
}

[data-theme="retro"] {
  --color-bg: #f4ecd8;
  --color-text: #513c2c;
  --color-primary: #c97c5d;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-bg);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
